@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fnt/Work_Sans/WorkSans-Regular.ttf');
}

body {
	font-family: 'Work Sans', sans-serif;
	background: rgb(206, 235, 241);
	background: -webkit-linear-gradient(to left, #fff, rgb(206, 235, 241));
	background: linear-gradient(to left, #fff, rgb(206, 235, 241), #fff);
	/*background-image: url('../img/background.png');*/
}

header {
	text-align: center;
	background: none;
}

.header-logo {
	height: 3em;
	margin: 1em;
}

main {
	overflow: hidden;
}

h1 {
	display: block;
	margin: 0.5em auto;
	text-align: center;
	vertical-align: middle;
	background: none;
}

h2 {
	text-align: center;
	background-color: white;
	border-radius: 2em;
	width: 80%;
	margin: 1em auto;
	padding: 0.5em;
}

h3 {
	text-align: center;
	margin: 1em;
}

section {
	text-align: center;
	margin: 2em auto;
	width: 90%;
}

section section {
	display: inline-block;
	width: 25%;
	margin: 0.5em;
	vertical-align: top;
	/*max-height: 20em;
	overflow-y: hidden;*/
	background: -webkit-linear-gradient(to top, #fff, rgb(206, 235, 241));
	background: linear-gradient(to top, #fff, rgb(206, 235, 241));
}

section section p {
	text-align: justify;
	padding: 2em;
	padding-top: 0.5em;
	margin: 0;
}

footer {
	text-align: center;
}

#about {
	width: 40%;
}

#innovationsSection section img {
	width: 3em;
	height: 3em;
	margin: 1em;
}

#adInnovation {
	background: hsl(330, 100%, 50%);
	color: white;
}

#ipInnovation {
	background: hsl(0, 100%, 50%);
	color: white;
}

#frInnovation {
	background: hsl(20, 100%, 40%);
	color: white;
}


#envPillar {
	background: hsl(100, 100%, 42%);
	color: white;
}

#ecPillar {
	background: hsl(200, 100%, 50%);
	color: white;
}

#socPillar {
	background: hsl(40, 100%, 50%);
	color: white;
}

#unsdgSection img {
	width: 10em;
	background: white;
	border-radius: 0.5em;
}
