@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fnt/Work_Sans/WorkSans-Regular.ttf');
}

body {
	font-family: 'Work Sans', sans-serif;
	background: rgb(206, 235, 241);
	background: -webkit-linear-gradient(to left, #fff, rgb(206, 235, 241));
	background: linear-gradient(to left, #fff, rgb(206, 235, 241), #fff);
	/*background-image: url('../img/background.png');*/
}

header {
	text-align: center;
	background: none;
}

.header-logo {
	height: 3em;
	margin: 1em;
}

main {
	overflow: hidden;
}

h1 {
	display: block;
	margin: 0.5em auto;
	text-align: center;
	vertical-align: middle;
	background: none;
}

h2 {
	text-align: center;
	background-color: white;
	border-radius: 2em;
	width: 80%;
	margin: 1em auto;
	padding: 0.5em;
}

h3 {
	text-align: center;
	margin: 1em;
}

section {
	text-align: center;
	margin: 2em auto;
	width: 90%;
}

@media only screen and (orientation: portrait) {
	section {
		width: 99%;
	}	
}

section section {
	width: 75%;
	margin: 0.5em auto;
	padding: 1em;
	vertical-align: top;
	
	background: hsla(0, 0%, 100%, 0.8);
}

section p {
	text-align: justify;
	width: 75%;
	margin: 0.5em auto;
}

#innovationsSection section p {
	clear: both;
	text-align: justify;
	width: 95%;
}

footer {
	text-align: center;
	font-size: 0.8em;
	padding: 1em;
	background-color: white;
}

#visImage {
	position: absolute;
	right: 20px;
	top: 140px;
	z-index: -1;
}

#about {
	display: inline-block;
	width: 40%;
	background: hsla(0, 0%, 100%, 0.8);
	border-radius: 4em 0 4em 0;
}

#pillarsSection img {
	height: 20em;
}

#callForAction {
	display: inline-block;
	width: 30%;
	background: hsla(0, 0%, 100%, 0.95);
	border-radius: 4em;
}

#callForAction a {
	display: inline-block;
	color: white;
	font-weight: bold;
	background-color: red;
	text-decoration: none;
	padding: 1em;
	margin: 0.5em;
	border-radius: 1em;
	box-shadow: 4px 4px hsla(0, 0%, 0%, 0.3);
}

#callForAction a:hover {
	background-color: hsl(0, 100%, 40%);
}

#bns, #snc {
	border-radius: 4em 0 4em 0;
	background: hsla(0, 0%, 100%, 0.5);
}

#cnc {
	border-radius: 0 4em 0 4em;
	background: hsla(0, 0%, 100%, 0.7);
}

#futureScenariosSection section p {
	width: 90%;
}

#innovationsSection section img {
	width: 3em;
	height: 3em;
	margin: 1em;
	float: left;
}

#innovationsSection h3 {
	text-align: left;
	margin: 1.5em;
	padding-left: 3em;
}

#adInnovation {
	background: hsl(340, 100%, 60%);
	color: white;
	border-radius: 0 4em 0 4em;
}

#ipInnovation {
	background: hsl(260, 100%, 60%);
	color: white;
	border-radius: 4em 0 4em 0;
}

#frInnovation {
	background: hsl(10, 100%, 60%);
	color: white;
	border-radius: 0 4em 0 4em;
}


#envPillar {
	background: hsl(100, 100%, 42%);
	color: white;
}

#ecPillar {
	background: hsl(200, 100%, 50%);
	color: white;
}

#socPillar {
	background: hsl(40, 100%, 50%);
	color: white;
}

#unsdgIcons {
	width: 60%;
	margin: 0 auto;
	margin-top: 1em;
	background-color: white;
	border-radius: 2em;
}

#unsdgIcons img {
	height: 8em;
	background: white;
}